/* 태블릿 */
@media screen and (max-width:1400px){
    header nav {display: none;}
    header .right_menu {display: none;}
    main .new_arrivals .item_wrap {width: calc(1000px - 40px);}
}
/* 태블릿 */
@media screen and (max-width:1000px){
    main .new_arrivals .item_wrap {width: calc(768px - 40px);}
}
/* 모바일 */
@media screen and (max-width:768px) {
    main .new_arrivals .item_wrap {width: calc(576px - 40px);}
}
/* 모바일 */
@media screen and (max-width:576px) {
    main .new_arrivals .item_wrap {width: calc(100% - 20px);}
}